<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctor" class="org.example.Doctor">
        <!--setter injection-->
        <property name="qualification" value="MBBS"/>
        <property name="nurse" ref="nurse"/>

        <!--Constructor injection-->
        <constructor-arg name="yearOfExperience" value="10"/>
    </bean>
    <bean id="nurse" class="org.example.Nurse"/>

</beans>